.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-image{
    margin: 4rem 5rem 3rem 5rem;
    padding: 1rem;
    width: 19rem;
    height: 17rem;
}
.menu-image:hover{
    border-radius: 30%;
    background-color: cadetblue;
}
@media screen and (max-width: 44rem) {
    .menu{
        padding-top: 4rem;
         justify-content:center;
    }

    .menu-image{
        margin: 3rem 4rem 2rem 4rem;
        padding: 1rem;
        width: 12rem;
        height: 10rem;
    }
}