.container{
    padding-top: 6rem;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.question-container{
    max-width: 40rem;
}
.answer:hover{
    cursor: pointer;
    background-color: rgba(201, 201, 201, 0.952);
    box-shadow: 0 0.4rem 1.4rem 0 rgb(86, 173, 162); 
    
}
.question{
    font-size: 2.5rem
}
.answer{
    display: flex;
    background-color: white;
    margin: 0.3rem;
}
.answer-number{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}
.answer-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:1rem;
    padding: 1rem;
}
.correct{
    background-color: rgba(51, 209, 120, 0.589);
}
.incorect{
    background-color: rgba(253, 47, 47, 0.61);
}
.score-box{
    display: flex;
    flex-direction: row;
}
.score{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(34, 90, 58, 0.945);
}
.score-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
@media screen and (max-width: 44rem) {
    .question{
        font-size: 1.6rem;
    }
    .answer-number{
        padding: 0.1rem 1rem;
        font-size: 1rem;
    }
    .score{
        font-size: 1.6rem;
        font-weight: bold;
        color: rgba(34, 90, 58, 0.945);
    }
}